.tags {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    }

.tag {
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid #069E6E;
    background: transparent;
    color: #069E6E;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 500;
    }

.tag:hover {
    background: #069E6E;
    color: white;
    }

.tag.selected {
    background: #069E6E;
    color: white;
    box-shadow: 0 0 8px rgba(6, 158, 110, 0.5);
    }
.photo-upload {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    }

.photo-upload .main-preview-container img {
    border-radius: 20px;
    width: 100%;
    height: 450px;
    object-fit:fill;
    cursor: pointer;
    border: 1px solid var(--primary-green);
    transition: 0.3s;
    }

.photo-upload img:hover {
    opacity: 0.8;
    }
#foto-input {
    display: none;
    }
.main-preview-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.photo-upload img#preview {
    border-radius: 20px;
    width: 100%;
    height: 450px;
    object-fit: cover;
    border: 1px solid #069E6E;
}

#resultados {

    background: white;
    border: 1px solid #ccd0d5;;
    border-radius: 14px;
    z-index: 10;
    overflow: hidden;

    box-shadow: 0 6px 20px rgba(0,0,0,0.06);

    display: none;
}


.resultado-item {
    padding: 14px;
    cursor: pointer;

    transition: 0.2s;

    border-bottom: 1px solid #f1f1f1;
}

.resultado-item:last-child {
    border-bottom: none;
}

.resultado-item:hover {
    background: #069e6e1f;
}

.resultado-item strong {
    display: block;
    font-size: 14px;
    color: #222;
}

.resultado-item p {
    font-size: 12px;
    color: #777;
    margin-top: 4px;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 100%;
    z-index: 10;
    transition: 0.3s;
}

.nav-arrow:hover { background: #069E6E; }
.prev { left: 13px; }
.next { right: 10px; }

.thumbnail-carousel {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    overflow-x: auto;
    padding-bottom: 10px;
    scrollbar-width: thin; 
}

.thumb-item {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s;
    flex-shrink: 0;
}

.thumb-item.active {
    border-color: #069E6E;
    opacity: 0.6;
}